.total-footer{
    position: relative;
    bottom: 47rem;
    

}
.total-footer{
    background-color: black;
    height: 440px;
}

.Contact{
    color: wheat;
    
}

.what-we-do{
    margin-left: 280px;
    position: relative;
    bottom: 26.5rem;
}